
<div class="container pb-5" data-controller="nfts" data-nfts-values>
  <div class="text-center mt-3">
    <h1>NFTs</h1>
  </div>



   <div id="nfts" data-nfts-target="cards" class="row row-cols-1 row-cols-md-2" >
  </div>


  <div class="d-flex justify-content-center">
    <div data-nfts-target="loader" class="lds-ellipsis">
      <div></div><div></div><div></div><div></div>
    </div>
  </div>




</div>
