  <div data-controller="cookies">
    <div class="cookie-wrapper" data-cookies-target="wrapper">
      <header class="cookie-header">
        <i class="fa fa-cookie-bite"></i>
        <h2 class="cookie-header">Cookies Consent</h2>
      </header>

      <div class="cookie-data">
        <p>This website uses only essential cookies, which allow the purchase of items through the website. <a
            href="/privacy"> Read More...</a></p>
      </div>

      <div class="cookie-buttons">
        <button class="cookie-button" id="acceptBtn" data-action="click->cookies#accept">Accept</button>
      </div>
    </div>
  </div>
