  <% unless current_page?(root_path) %>
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.patreon.com/jalehsart"><i class="fa-brands fa-patreon"></i></a>
        <a href="https://www.instagram.com/theartofjaleh/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/theartofjaleh"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/TheArtofJaleh"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/jalehsadravi/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        <p>© 2021 Jaleh Sadravi</p>
      </div>
    </div>
  <% end %>
