<div class="container pb-5">
  <div class="text-center mt-3">
    <h1>My Orders</h1>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <%= link_to paintings_path, class: 'btn btn-success' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

  <div class="row" id="orders" data-controller="orders">
    <% @orders.each do |order| %>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div data-action="click->orders#openOrder" data-url="/orders/<%= order.id %>">
          <% if order.status == "open" %>
              <%= render order %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
