<div class="container-fluid pb-5">

  <div class="mx-5 my-5">
    <h1 class="mb-3">About</h1>
    <p>
    Jaleh Sadravi was born in Oakland, California, and spent her formative years in Columbus, Ohio. While in Columbus, Jaleh was a member of the artist collective – Creative Women of Color. Through her abstract paintings, Jaleh conveys themes of community, unity, and love. Jaleh creates pieces that express her own life experiences – being surrounded by a trusting community, holding hands with family and friends, witnessing a baptism. Jaleh hopes that when people view her paintings, they experience a feeling of hope and they are reminded that they are loved.  Jaleh believes that her art can help with the collective healing that is needed as we continue to be separated from our loved ones, especially during this pandemic.
    </p>
  </div>
  <div class="row my-3">
    <div class="col-11 col-lg-8 d-flex justify-content-end">
      <%= image_tag "PortfolioPhoto.jpg", alt: "The artist, Jaleh", class: "img-fluid" %>
    </div>

    <div class="col-12 col-lg-4 d-flex justify-content-start">
      <ul class="list-line">
        <li>
          <a href="https://www.patreon.com/jalehsart" target="_blank">
            <i class="fa-brands fa-patreon"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TheArtofJaleh" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jalehsadravi/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@theartofjaleh" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/theartofjaleh" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/theartofjaleh/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/JalehLozano" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
