<div class="container-fluid">
  <div class="d-flex justify-content-center my-3">
    <h1>Jaleh Sadravi CV</h1>
  </div>

  <div class="d-flex justify-content-center my-3">
    <h2>Exhibitions</h2>
  </div>

  <div class="row row-cols-2 mx-5">
    <div class="col-6 d-flex justify-content-center border-bottom">
      <h3><strong>2022</strong></h3>
    </div>
    <div class="col-6 border-bottom">
      <p>
        <a href="https://www.artrabbit.com/events/our-new-world" target="_blank">Our New World</a>, FORA Gallery, London, England
      </p>
    </div>

   <div class="col-6 d-flex justify-content-center mt-3 border-bottom">
      <h3><strong>2021</strong></h3>
    </div>
    <div class="col-6 mt-3 border-bottom">
      <p>
        A Gathering of Community, Solo Exhibition, Seattle, Washington
      </p>
      <p>
        <a href="https://openiartspace.com/current-exhibition" target="_blank">Think Outside the Walls</a>, Open i Art Space, Santa Barbara, California
      </p>
      <p>
        <a href="https://www.blueskygallery.org/news/2021/1/11/diversity-is-our-strength" target="_blank">Our Diversity is our Strength</a>, Blue Sky Gallery, Portland, Oregon
      </p>
    </div>
  </div>

    <div class="d-flex justify-content-center mt-5">
      <h2>Education</h2>
    </div>

  <div class="row mx-5">
    <div class="col-12 d-flex justify-content-center">
      <p>
        Graduating Artists Spring 2011, Brauer Museum of Art, Valparaiso University, Valparaiso, IN
      </p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p>
        Bachelor of Arts, Communications, Capital University, Columbus, Ohio Graduated 2008
      </p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p>
        Master of Science, Digital Media, Valparaiso University, Valparaiso, Indiana Graduated 2011
      </p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p>
        The Alternative Art School, Barbara Neely Fellowship 2021
      </p>
    </div>
  </div>

</div>
