<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jsadravi.files.wordpress.com/2021/06/img_4803.jpg);">
  <div class="container">
    <h1><strong>Hi! I'm Jaleh</strong></h1>
    <h1>Multi-media Artist</h1>
    <p>Inspiration through transformation</p>
      <a class="btn btn-outline-primary btn-lg tree" href="/paintings">View my works</a>
  </div>
</div>

<div class="container-fluid mt-3">


  <div class="d-flex justify-content-center p-5">
    <h1 class="text-center">
      <strong class="col-10">
        Jaleh Sadravi works out of her home studio and participates in several group and solo exhibitions each year. Her work is found in collections around the world.
      </strong>
    </h1>
  </div>

   <div class="d-grid gap-2">
    <a class="btn btn-lg btn-outline-primary tree" href="/prints/index" type="button">Prints Shop</a>
    <a class="btn btn-lg btn-outline-primary tree" href="/paintings" type="button">Own an Original Work</a>
    <a class="btn btn-lg btn-outline-primary tree" href="#mc_embed_shell" type="button">Sign Up for Newsletter</a>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <%= image_tag "minibio.png", alt: "The artist", class: "img-fluid shadow rounded-pill" %>
  </div>

  <div class="d-flex justify-content-center p-3">
    <p class="col-10">
        Born in Oakland, California, Jaleh Sadravi started as a videographer and photographer. She started painting during the pandemic in 2020. She is an instinctive artist who paints in acrylics by applying colors directly to the canvas using squeeze bottles and spreading the paint with scrapers. Her movement and sensitivity are at the heart of her bright and colorful work. Passion, perseverance and commitment have contributed to her success as a painter. From her abstract paintings to her portraits, there is a movement and freshness that makes her work interesting and popular.
    </p>
  </div>

  <div class="text-center mb-3">
    <h2><strong>Join my mailing list</strong></h2>
    <p>Receive updates and special offers</p>

    <div class="d-flex justify-content-center" id="mc_embed_shell">
        <form class="form-inline" action="https://jsadravi.us7.list-manage.com/subscribe/post?u=986ea8046b29fee65e34eda26&amp;id=c5725164da&amp;f_id=0096d2e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

            <input type="text" name="FNAME" id="mce-FNAME" value="" placeholder="First Name" aria-label="Recipient's first name">

            <input type="email" id="mce-EMAIL" name="EMAIL"  placeholder="Your Email" aria-label="Recipient's Email" value="">

            <button id="mc-embedded-subscribe" class="btn btn-outline-primary tree px-3 rounded-pill" type="submit" name="subscribe" value="Subscribe">Subscribe</button>

          <div aria-hidden="true" style="position: absolute; left: -5000px;">
              /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
              <input type="text" name="b_986ea8046b29fee65e34eda26_c5725164da" tabindex="-1" value="">
          </div>
        </form>

      <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
      <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </div>

  <div class="text-center mt-3">
    <h2><strong>Get in Touch</strong></h2>
    <p>For inquiries, commissions, or partnerships, please email me.</p>
    <%= link_to "Contact Me", new_contact_path, class: "btn btn-outline-primary tree mb-3" %>
     <div class="d-flex justify-content-center my-3">
      <ul class="social-line">
      <li>
          <a href="https://artofjaleh.substack.com?utm_source=navbar&utm_medium=web" target="_blank">
            <i class="bi bi-substack"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TheArtofJaleh" target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jalehsadravi/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@theartofjaleh" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/theartofjaleh" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/theartofjaleh/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/c/JalehLozano" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
