<div class="container-fluid pb-5">

  <div class="mx-5 my-5">

    <p><strong>PRIVACY POLICY</strong></p>

    <p>
      THIS PRIVACY STATEMENT SHALL GOVERN AND APPLY TO ANYONE ACCESSING OR USING THE WEBSITES LOCATED AT WWW.THEARTOFJALEH.COM, OUR MOBILE APPLICATION(S), OUR BLOG(S), AND ANY OTHER WEBSITE(S) IN EXISTENCE NOW OR CREATED IN THE FUTURE (HEREINAFTER THE “SITE”) OWNED AND/OR OPERATED BY THE ART OF JALEH ("THE ART OF JALEH," "WE," "US" OR "OUR"). THE ART OF JALEH RESPECTS YOUR RIGHT TO PRIVACY. THIS POLICY SUMMARIZES WHAT PERSONALLY IDENTIFIABLE INFORMATION WE MAY COLLECT, AND HOW WE MIGHT USE THIS INFORMATION. THIS POLICY ALSO DESCRIBES OTHER IMPORTANT TOPICS RELATING TO YOUR PRIVACY.
    </p>


    <p><strong>INFORMATION COLLECTED</strong></p>
    <p>
    THE ART OF JALEH ONLY WILL COLLECT PERSONALLY IDENTIFIABLE INFORMATION (SUCH AS NAME, TITLE, COMPANY NAME, ADDRESS, TELEPHONE NUMBER, OR E-MAIL ADDRESS) THAT YOU VOLUNTARILY PROVIDE THROUGH OUR WEBSITE OR E-MAIL CORRESPONDENCE. OUR HOST WEB SERVER TRACKS AND COLLECTS GENERAL INFORMATION ABOUT THE VISITS TO OUR SITE. WHILE IP ADDRESSES (THE INTERNET ADDRESS OF A COMPUTER) ARE LOGGED TO TRACK A USER'S SESSION, THE USER REMAINS ANONYMOUS. WE ANALYZE THIS DATA FOR CERTAIN TRENDS AND STATISTICS, SUCH AS WHICH PARTS OF OUR SITE USERS ARE VISITING, HOW LONG THEY SPEND THERE, THE VISITORS' DOMAIN NAMES AND WHAT STATES OR COUNTRIES THOSE REQUESTS COME FROM. WE DO NOT LINK YOUR IP ADDRESSES TO ANYTHING PERSONALLY IDENTIFIABLE TO YOU. WE WILL COLLECT GENERAL INFORMATION (SUCH AS THE TYPE OF BROWSER YOU USE AND THE FILES YOU REQUEST) TO IMPROVE OUR WEB SITE AND BETTER MEET YOUR NEEDS.

    THE ART OF JALEH ALSO REQUESTS AND COLLECTS PERSONAL INFORMATION FROM OUR CUSTOMERS AT VARIOUS SITE LOCATIONS AND INSTANCES, INCLUDING, BUT NOT LIMITED TO, WHEN YOU MAKE A PURCHASE, COMMUNICATE WITH US VIA SOCIAL MEDIA, WRITE A PRODUCT REVIEW, PARTICIPATE IN EVENTS, CONTESTS, OR PROMOTIONS, CONTACT OUR CUSTOMER CARE TEAM, OR POST OTHER CUSTOMER-GENERATED CONTENT TO THIS SITE. THESE ARE CURRENTLY THE PRIMARY WAYS IN WHICH WE GATHER INFORMATION, HOWEVER, WE MAY ALSO COLLECT DATA THROUGH OTHER CHANNELS IN THE FUTURE. THE TYPES OF PERSONAL INFORMATION WE MAY COLLECT FROM YOU CAN VARY ACCORDING TO THE METHOD THROUGH WHICH IT WAS ATTAINED.
    </p>

    <p><strong>PERSONAL INFORMATION PROVIDED</strong></p>

    <p>
      WE RECEIVE AND STORE ANY INFORMATION YOU KNOWINGLY PROVIDE TO US, SUCH AS:
    </p>

    <ul>
      <li>FULL NAME</li>
      <li>EMAIL ADDRESS</li>
      <li>PHONE NUMBER</li>
      <li>SHIPPING ADDRESS</li>
      <li>BILLING INFORMATION AND PAYMENT DETAILS (SUCH AS BILLING ADDRESS, CREDIT CARD DETAILS, AND OTHER SENSITIVE FINANCIAL INFORMATION, SPECIFICALLY FOR THE PURPOSE OF COMPLETING YOUR TRANSACTION)</li>
      <li>A RECORD OF YOUR THE ART OF JALEH ORDERS, PURCHASE HISTORY, AND SHOPPING BEHAVIOR AND PREFERENCES</li>
      <li>INFORMATION PROVIDED BY YOU THROUGH YOUR INTERACTIONS WITH US IN SOCIAL MEDIA</li>
      <li>LOCATION AND GEOGRAPHIC INFORMATION THAT COULD BE COLLECTED IF YOU USE OUR MOBILE SITE OR APP.</li>
      <li>OTHER DETAILS THAT YOU MAY SUBMIT TO US OR THAT MAY BE INCLUDED IN THE INFORMATION PROVIDED TO US BY THIRD PARTIES.</li>
    </ul>

    <p><strong>PURPOSE OF COLLECTION</strong></p>
    <p>
    THE ART OF JALEH OFFERS VARIOUS PRODUCTS AND SERVICES TO OUR CUSTOMERS AND ALSO STRIVES TO MEET THE NEEDS OF OUR CUSTOMERS.  WE USE YOUR PERSONAL INFORMATION FOR INTERNAL PURPOSES SUCH AS TRACKING YOUR ORDER, ANALYZING YOUR PREFERENCES, AND NOTING TRENDS AND STATISTICS. TO DO THIS EFFECTIVELY, WE NEED TO COLLECT CERTAIN PERSONAL INFORMATION.
    </p>

    <p><strong>CONSENT OF COLLECTION</strong></p>
    <p>
    ALL PERSONAL INFORMATION WE COLLECT FROM YOU REQUIRES YOUR CONSENT, FOR EXAMPLE, OPENING AN ACCOUNT, PURCHASE AND DELIVERY OF PRODUCTS, SPECIAL OFFERS, ETC.  WE MAY REQUEST YOUR CONSENT FROM TIME TO TIME TO TAKE PART IN IMPROVED PRODUCT PERFORMANCE OR FOR MARKETING PURPOSES THAT WE THINK WILL BE USEFUL TO YOU.  HOWEVER, UNLESS YOU ARE INFORMED OTHERWISE, THE PERSONAL INFORMATION WE HOLD IS FOR ESTABLISHING AND MANAGING OUR BUSINESS AND CUSTOMER RELATIONSHIP WITH YOU.  SENSITIVE INFORMATION IS SUBJECT TO GREATER RESTRICTIONS AND GOVERNED BY LAW.

    BY COMMUNICATING WITH THE ART OF JALEH, INCLUDING BY EMAIL AND BY COMPLETING ONLINE FORMS, YOU ARE GIVING YOUR CONSENT TO THE COLLECTION OF WHAT PERSONAL INFORMATION YOU PROVIDE.
    </p>

    <p><strong>RECORDKEEPING OF YOUR PERSONAL INFORMATION</strong></p>
    <p>
    DEPENDING ON THE PRODUCT YOU HAVE ACQUIRED, IT MAY BE NECESSARY TO KEEP A RECORD OF THE TRANSACTION FOR BUSINESS PURPOSES OR TO ENABLE US TO RESPOND TO YOUR CONCERNS. WE MAY HOLD PERSONAL INFORMATION FOR THE FOLLOWING PURPOSES:
    <ul>
      <li>INTERNAL ACCOUNTING AND ADMINISTRATION;</li>
      <li>TO SUPPLY YOU WITH INFORMATION ABOUT YOUR ACCOUNT INCLUDING REGULAR STATEMENTS;</li>
      <li>TO RESPOND TO INQUIRIES;</li>
      <li>ENHANCING CUSTOMER SERVICE, PRODUCT OPTIONS AND TO IMPROVE PRODUCT PERFORMANCE;</li>
      <li>PROMOTIONS, COMPETITION ENTRY FORMS, REDEMPTION VOUCHERS, AND SPECIAL OFFERS WHERE YOU VOLUNTARILY SUPPLIED YOUR PERSONAL DETAILS;</li>
      <li>TO ADMINISTER SALES RECORDS;</li>
      <li>TO PROVIDE INFORMATION ABOUT US, OUR PRODUCTS, SERVICES AND SPECIAL OFFERS; AND</li>
      <li>TO ANALYZE OUR WEBSITE USAGE.</li>
    </ul>


    OCCASIONALLY WE REQUIRE ORGANIZATIONS OUTSIDE THE ART OF JALEH TO PROVIDE A SERVICE FOR PURPOSES, WHICH ARE NECESSARY FOR US TO CONDUCT OUR BUSINESS, FUNCTIONS AND ACTIVITIES (FOR EXAMPLE ADVERTISING NAMES OF COMPETITION WINNERS AND DELIVERING PRODUCTS).  WE TAKE ALL STEPS TO ENSURE THESE ORGANIZATIONS BOTH INSIDE AND OUTSIDE OF THE UNITED STATES DEAL WITH PERSONAL INFORMATION ACCORDING TO THIS POLICY.
    </p>

    <p><strong>MANAGEMENT OF YOUR PERSONAL INFORMATION</strong></p>
    <p>
    YOU MAY HAVE CONTACT WITH US PERSONALLY, BY TELEPHONE, MAIL, OVER THE INTERNET OR OTHER ELECTRONIC MEDIUM.  WE TAKE ALL REASONABLE STEPS TO KEEP YOUR PERSONAL INFORMATION SECURE IN A COMBINATION OF SECURE COMPUTER STORAGE, HARD COPY FILES AND OTHER RECORDS.  WE TAKE STEPS TO PROTECT THE PERSONAL INFORMATION WE HOLD FROM MISUSE, LOSS, UNAUTHORIZED ACCESS, MODIFICATION OR DISCLOSURE.

    </p>


    <p><strong>DISCLOSURE OF YOUR INFORMATION</strong></p>
    <p>
    THE ART OF JALEH DOES NOT SHARE THE PERSONAL INFORMATION OF ITS USERS WITH ANY UNAFFILIATED THIRD PARTIES FOR THEIR PROMOTIONAL PURPOSES. HOWEVER, WE USE A THIRD-PARTY PAYMENT PROCESSOR AND A THIRD-PARTY SHIPPING AGENT TO ENSURE THE PAYMENT AND DELIVERY OF YOUR PURCHASED PRODUCTS. WE MAY USE OTHER THIRD PARTIES FOR OTHER SERVICES FROM TIME TO TIME. THESE THIRD PARTIES HAVE NO AUTHORITY TO USE YOUR PERSONAL INFORMATION FOR THEIR OWN PROMOTIONAL PURPOSES. THESE THIRD PARTIES WILL ONLY HAVE LIMITED ACCESS TO YOUR PERSONAL INFORMATION IN ORDER TO HELP COMPLETE TRANSACTIONS.

    ALTHOUGH THE ART OF JALEH USES INDUSTRY-STANDARD BEST PRACTICES TO PROTECT YOUR PERSONAL INFORMATION, WE DO NOT REPRESENT, WARRANT AND/OR GUARANTEE THAT PERSONAL INFORMATION WILL REMAIN SECURE.  THEREFORE, WE CANNOT AND DO NOT GUARANTEE, AND YOU SHOULD NOT EXPECT, THAT YOUR PERSONAL INFORMATION OR PRIVATE COMMUNICATIONS WILL ALWAYS REMAIN PRIVATE.  NOTWITHSTANDING THIS, AS A MATTER OF POLICY, WE NEVER SELL OR RENT ANY PERSONAL INFORMATION ABOUT YOU TO ANY THIRD-PARTY. IN THE EVENT THERE IS A BREACH OF SECURITY, OR WE ARE MADE AWARE THAT YOUR PERSONAL INFORMATION COULD BE JEOPARDIZED, WE WILL TAKE ALL NECESSARY MEASURES TO COMMUNICATE THESE ISSUES TO YOU SO THAT YOU CAN TAKE STEPS TO PROTECT YOURSELF.

    </p>


    <p><strong>LEGAL DISCLOSURE</strong></p>
    <p>
    BECAUSE THE ART OF JALEH CONSIDERS THE INDIVIDUAL INFORMATION WE MAINTAIN TO BE CONFIDENTIAL, OUR POLICY IS TO DISCLOSE NO PERSONAL INFORMATION TO THIRD PARTIES (EXCEPT AS DESCRIBED ABOVE) UNLESS RELEASE IS REQUIRED BY LAW OR IS PERTINENT TO JUDICIAL OR GOVERNMENT INVESTIGATIONS OR PROCEEDINGS. WE RESERVE THE RIGHT TO DISCLOSE PERSONAL INFORMATION TO OUR SERVICE PROVIDERS, THE GOVERNMENT, LAW ENFORCEMENT AGENCIES, OR OTHER THIRD PARTIES UNDER CERTAIN CIRCUMSTANCES WHERE A FORMAL REQUEST HAS BEEN MADE (SUCH AS IN RESPONDING TO A COURT ORDER, SUBPOENA, OR JUDICIAL PROCEEDING) AS THE ART OF JALEH, IN OUR SOLE AND ABSOLUTE DISCRETION, DEEMS NECESSARY AND APPROPRIATE. MOREOVER, IN THE EVENT OF A SALE, MERGER, OR TRANSFER OF SOME OR ALL OF THE ART OF JALEH’S ASSETS, OR DISSOLUTION OR BANKRUPTCY, YOUR PERSONAL INFORMATION MAY BE TRANSFERRED TO AN UNAFFILIATED THIRD PARTY AS PART OF OR APART FROM OTHER TRANSFERRED ASSETS OR ASSETS. ANY TRANSFER WILL THEN BE GOVERNED BY AND BE THE RESPONSIBILITY OF ANY PURCHASER OF OR SUCCESSOR TO THE TRANSFERRED ASSETS OR ASSETS. WE SHALL NOTIFY YOU BY A NOTICE ON THE HOME PAGE OF ANY CHANGE IN THE INFORMATION PRACTICES GOVERNING YOUR PERSONAL INFORMATION AS A RESULT OF ANY TRANSFER OF ASSETS OR ANY ASSET CHANGE IN OWNERSHIP, AND YOUR CHOICES IN HOW YOUR INFORMATION IS USED.

    </p>


    <p><strong>ACCESSING YOUR PERSONAL INFORMATION</strong></p>
    <p>
    YOU HAVE THE RIGHT TO ACCESS THE PERSONAL INFORMATION YOU HAVE PROVIDED TO US.  IF YOU REQUIRE DETAILS OF YOUR PERSONAL INFORMATION HELD BY US, WE WILL NEED TO VERIFY YOUR IDENTITY BEFORE MEETING YOUR REQUEST, WHICH WE WILL PROCESS IN A REASONABLE TIME.  IF YOU FIND THAT THE INFORMATION THAT WE HOLD ABOUT YOU IS INACCURATE OR OUT OF DATE, THEN WE WILL PROMPTLY CORRECT IT UPON RECEIPT OF THE CHANGES FROM YOU.

    </p>


    <p><strong>LINKS TO THIRD PARTY SITES</strong></p>
    <p>
    OUR SITE MAY CONTAIN LINKS TO OTHER SITES. WE DO NOT ENDORSE OR OTHERWISE ACCEPT RESPONSIBILITY FOR THE CONTENT OR PRIVACY POLICIES OF THOSE SITES. HOWEVER, WE ENCOURAGE YOU TO READ THE PRIVACY POLICIES OF EACH WEBSITE YOU VISIT PRIOR TO DISCLOSING YOUR PERSONAL INFORMATION.

    </p>


    <p><strong>USER GENERATED CONTENT</strong></p>
    <p>
    ANY PERSONAL INFORMATION OR IMAGE CONTENT YOU VOLUNTARILY DISCLOSE ONLINE IN A MANNER THAT OTHER USERS CAN VIEW (INCLUDING, BUT NOT LIMITED TO: PRODUCT REVIEWS, COMMENTS, POSTS ON SOCIAL MEDIA PAGES, ETC.) BECOMES PUBLICLY AVAILABLE, AND CAN BE READ, COLLECTED, AND USED BY OTHER MEMBERS OF THIS SITE TO SEND YOU UNSOLICITED MESSAGES. YOU NAME, EMAIL, OR OTHER INFORMATION MAY ALSO BE DISPLAYED WHEN YOU POST COMMENTS OR UPLOAD IMAGES THROUGHOUT THE SITE. THE ART OF JALEH IS NOT RESPONSIBLE FOR THE PERSONAL INFORMATION USERS SELECT TO DISCLOSE IN THESE FORUMS.

    </p>


    <p><strong>CHILDREN</strong></p>
    <p>
    OUR SITE IS INTENDED FOR USERS WHO ARE THIRTEEN YEARS OF AGE AND OLDER. IF YOU ARE UNDER THE AGE OF THIRTEEN, YOU ARE NOT PERMITTED TO SUBMIT ANY PERSONAL INFORMATION TO OUR SITE. OUR SITE IS NOT DIRECTED AT CHILDREN UNDER THIRTEEN AND DOES NOT KNOWINGLY COLLECT ANY PERSONAL INFORMATION FROM CHILDREN UNDER THIRTEEN. WE WILL PROMPTLY DELETE ANY PERSONAL INFORMATION FROM A PERSON UNDER THE AGE OF THIRTEEN SHOULD WE DISCOVER THAT WE HAVE COLLECTED SUCH INFORMATION FROM A PERSON UNDER THE AGE OF THIRTEEN WITHOUT VERIFICATION OF PARENTAL CONSENT.

    </p>


    <p><strong>COOKIE POLICY</strong></p>
    <p>
    BY USING THE SITE, YOU ARE CONSENTING TO THE USE OF THE TECHNOLOGIES DESCRIBED IN THIS COOKIE POLICY TO COLLECT BOTH PERSONALLY IDENTIFIABLE INFORMATION AND NON-PERSONAL DATA AND TO THE STORAGE OF INFORMATION ON YOUR DEVICE OR WEB BROWSER AS DESCRIBED BELOW.

    A COOKIE IS A PIECE OF INFORMATION THAT IS PLACED ON YOUR WEB BROWSER OR HARD DRIVE WHEN YOU ACCESS AND/OR USE THE SITE. COOKIES STORE TEXT AND CAN LATER BE READ BACK BY THE SITE OR THIRD PARTIES. WE USE COOKIES TO RECOGNIZE YOUR BROWSER AND YOU AS A UNIQUE VISITOR TO THE SITE THROUGH AN ANONYMOUS UNIQUE IDENTIFIER. COOKIES CAN REMEMBER WHAT INFORMATION YOU ACCESS ON ONE WEBPAGE TO SIMPLIFY YOUR SUBSEQUENT INTERACTIONS WITH THE SITE OR TO USE THE INFORMATION TO STREAMLINE YOUR TRANSACTIONS ON RELATED WEBPAGES. THIS MAKES IT EASIER FOR YOU TO MOVE FROM ONE WEBPAGE TO ANOTHER AND TO COMPLETE COMMERCIAL TRANSACTIONS OVER THE INTERNET. COOKIES SHOULD MAKE YOUR ONLINE EXPERIENCE EASIER AND MORE PERSONALIZED.

    COOKIES MAY BE SESSION COOKIES (I.E., LAST ONLY FOR ONE BROWSER SESSION) OR PERSISTENT COOKIES (I.E., CONTINUE ON YOUR BROWSER UNTIL THEY ARE AFFIRMATIVELY DELETED). YOU CAN MANAGE COOKIES THROUGH YOUR WEB BROWSER'S OPTION SETTINGS AND THROUGH THOSE SETTINGS YOU MAY BE ABLE (A) TO RECEIVE NOTIFICATIONS WHEN YOU ARE RECEIVING NEW COOKIES; (B) TO DISABLE COOKIES; OR (C) TO DELETE COOKIES. PLEASE REFER TO YOUR WEB BROWSER'S HELP SECTION FOR INFORMATION ON HOW TO DO THIS.

    </p>


    <p><strong>AGREEMENT TO OUR TERMS & CHANGES TO THIS PRIVACY STATEMENT</strong></p>
    <p>
    BY USING THIS SITE, YOU CONSENT TO THE COLLECTION AND USE OF INFORMATION BY THE ART OF JALEH FROM THE SITE AS INDICATED ABOVE. THE ART OF JALEH RESERVES THE RIGHT TO MODIFY THIS PRIVACY POLICY AT ANY TIME. WE WILL PROMPTLY REFLECT ANY SUCH MODIFICATIONS IN THESE WEB PAGES.

    </p>


    <p><strong>CONTACT US</strong></p>
    <p>
    WE WELCOME YOUR QUESTIONS, COMMENTS, AND CONCERNS ABOUT THIS PRIVACY POLICY AND SITE. YOU CAN REACH ME AT:

    HELLOJALEH@GMAIL.COM
    </p>
  </div>

</div>
