<div class="container-fluid pb-5">
  <div class="mx-5 my-5">
    <p><strong>TERMS AND CONDITIONS</strong></p>
    <p><strong>LAST UPDATE: 04/09/2024</strong></p>
    <p>
      PLEASE READ THESE TERMS (ALONG WITH OUR PRIVACY POLICY AND COOKIE POLICY, THE "TERMS") FULLY AND CAREFULLY BEFORE USING THEARTOFJALEH.COM (THE "SITE") AS IT CONTAINS VERY IMPORTANT INFORMATION ABOUT YOUR LEGAL RIGHTS AND OBLIGATIONS, INCLUDING LIMITATIONS OF YOUR RIGHTS AND EXCLUSIONS THAT MAY APPLY TO YOU. THESE TERMS SET FORTH LEGALLY BINDING TERMS AND CONDITIONS FOR USE OF THE SITE.
    </p>


    <p>
      1. ACCEPTANCE OF TERMS.
    </p>
    <p>
      BY BROWSING AND USING THE SITE, YOU AGREE TO THESE TERMS AND ALL OTHER OPERATING RULES, POLICIES, AND PROCEDURES THAT MAY BE PUBLISHED FROM TIME TO TIME ON THE SITE, EACH OF WHICH IS INCORPORATED BY REFERENCE.

      IF YOU LIVE IN THE UNITED STATES, BY USING THIS SITE YOU ARE AGREEING TO WAIVE YOUR RIGHT TO SUE IN COURT AND INSTEAD AGREE TO HAVE ALL DISPUTES DECIDED BY AN ARBITRATOR. BY AGREEING TO ARBITRATION, YOU UNDERSTAND AND AGREE THAT YOU ARE WAIVING YOUR RIGHT TO A JURY TRIAL TO SETTLE DISPUTES RELATING TO YOUR USE OF THE SITE AND PURCHASE OF OUR PRODUCTS, AS STATED FULLY IN THE "DISPUTE RESOLUTION" SECTION BELOW.
    </p>

      <p>
      2. KEY TERMS.
      </p>
      <p>
      THE ART OF JALEH ITS AFFILIATED ENTITIES, AND IS REFERRED TO HEREIN AS "THE ART OF JALEH," "WE," OR "OUR."

      "CONTENT" MEANS LOGOS, DESIGN, TEXT, GRAPHICS, IMAGES, SOFTWARE, AUDIO, VIDEO, WORKS OF AUTHORSHIP OF ANY KIND, AND INFORMATION AND OTHER MATERIALS THAT ARE POSTED, GENERATED, PROVIDED, OR OTHERWISE AVAILABLE THROUGH OR ON THE SITE. WE AND OUR LICENSORS EXCLUSIVELY OWN ALL RIGHT, TITLE, AND INTEREST IN AND TO THE CONTENT, INCLUDING ALL ASSOCIATED INTELLECTUAL PROPERTY RIGHTS. YOU ACKNOWLEDGE THAT CONTENT IS PROTECTED BY COPYRIGHT, TRADEMARK, AND OTHER LAWS OF THE UNITED STATES AND FOREIGN COUNTRIES AND THAT YOU WILL NOT TO REMOVE, ALTER, OR OBSCURE ANY COPYRIGHT, TRADEMARK, SERVICE MARK, OR OTHER PROPRIETARY RIGHTS NOTICES INCORPORATED IN OR ACCOMPANYING CONTENT ON THE SITE.

      "SITE" MEANS THE WEBSITE THEARTOFJALEH.COM, INCLUDING ALL OF ITS DOMAINS AND SUBPARTS.

      "TERMS" REFERS TO THE TERMS AND CONDITIONS OF THESE TERMS OF USE, ALONG WITH OUR PRIVACY POLICY AND COOKIE POLICY.

      "USER" MEANS ANY VISITOR TO THE SITE, REGARDLESS OF WHETHER THE VISITOR REGISTERS FOR THE SITE OR PURCHASES ANY PRODUCTS FROM THE SITE AND IS REFERRED TO HEREIN AS "USER" OR "YOU."

      "USER CONTENT" REFERS TO ANY PHOTOGRAPHS, COMMENTS, VIDEO CLIPS, OR OTHER CONTENT THAT USERS, INCLUDING YOU, MAY UPLOAD TO THE SITE. CONTENT INCLUDES, WITHOUT LIMITATION, USER CONTENT. WE DO NOT CLAIM ANY OWNERSHIP RIGHTS IN ANY USER CONTENT AND NOTHING IN THESE TERMS WILL BE DEEMED TO RESTRICT ANY RIGHTS A USER MAY HAVE TO USE AND EXPLOIT THEIR OWN USER CONTENT.

      </p>

      <p>3. ELIGIBILITY TO USE THE SITE.</p>
      <p>
      YOU MAY USE THE SITE ONLY IF YOU ARE EIGHTEEN (18) YEARS OR OLDER AND CAPABLE OF FORMING A BINDING CONTRACT WITH US AND ARE NOT BARRED FROM USING THE SITE UNDER ANY APPLICABLE LAW. AS LONG AS YOU COMPLY WITH THESE TERMS, YOU MAY VIEW AND USE OUR SITE FOR YOUR PERSONAL, NON-COMMERCIAL PURPOSES. NO OTHER USE OF THE SITE IS AUTHORIZED.

      CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, OTHER EXCLUSIONS, OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE FOREGOING DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.

      </p>

      <p>4. INTERNATIONAL USERS.</p>
      <p>
      OUR SITE IS CONTROLLED, OPERATED, AND ADMINISTERED FROM OUR OFFICES IN WASHINGTON, UNITED STATES OF AMERICA. WE MAKE NO REPRESENTATION THAT CONTENT ON THE SITE IS APPROPRIATE OR AVAILABLE FOR USE AT OTHER LOCATIONS OUTSIDE THE UNITED STATES, AND ACCESS TO CONTENT IS PROHIBITED FROM TERRITORIES WHERE THE CONTENT OR PRODUCTS AVAILABLE THROUGH THE SITE ARE ILLEGAL. YOU MAY NOT USE THE SITE OR EXPORT ITS CONTENT OR PRODUCTS IN VIOLATION OF UNITED STATES EXPORT LAWS AND REGULATIONS. IF YOU ACCESS THE SITE FROM A LOCATION OUTSIDE OF THE UNITED STATES, YOU ARE RESPONSIBLE FOR COMPLIANCE WITH ALL LOCAL LAWS IF, AND TO THE EXTENT, LOCAL LAWS ARE APPLICABLE.

      </p>

      <p>5. GOVERNING LAW.</p>
      <p>
      THESE TERMS AND ANY ACTION OR PROCEEDING RELATING THERETO WILL BE GOVERNED BY THE LAWS OF THE STATE OF WASHINGTON. IF ANY PROVISION OR PART-PROVISION OF THESE TERMS IS DECLARED INVALID, UNLAWFUL, VOID, OR FOR ANY REASON UNENFORCEABLE, IT WILL BE DEEMED SEVERABLE AND WILL NOT AFFECT THE VALIDITY AND ENFORCEABILITY OF THE REMAINING PROVISIONS OF THESE TERMS, WHICH WILL BE ENFORCED TO THE MAXIMUM EXTENT PERMISSIBLE.

      </p>

      <p>6. CHANGES TO TERMS.</p>

      <p>
      WE RESERVE THE RIGHT TO MAKE CHANGES TO THESE TERMS AT ANY TIME, AND SUCH CHANGES WILL BE EFFECTIVE IMMEDIATELY UPON BEING POSTED ON THE SITE. EACH TIME YOU USE THE SITE, YOU SHOULD REVIEW THE CURRENT TERMS. YOU CAN DETERMINE WHEN THESE TERMS WERE LAST REVISED BY REFERRING TO THE "LAST UPDATED" LEGEND AT THE TOP OF THESE TERMS OF USE. YOUR CONTINUED USE OF THE SITE WILL CONSTITUTE YOUR ACCEPTANCE OF THE CURRENT TERMS; HOWEVER, ANY MATERIAL CHANGE TO THESE TERMS AFTER YOUR LAST USAGE OF THE SITE WILL NOT BE APPLIED RETROACTIVELY. EXCEPT FOR SUCH MATERIAL CHANGES, THE TERMS THAT WERE IN EFFECT AT THE TIME ANY CLAIM OR DISPUTE AROSE BETWEEN YOU AND THE ART OF JALEH WILL BE APPLIED.

      </p>

      <p>8. PRIVACY POLICY/COOKIE POLICY.</p>
      <p>
      USERS OF THE SITE SHOULD REFER TO OUR PRIVACY POLICY FOR INFORMATION ABOUT HOW WE USE AND COLLECT INFORMATION, WHICH MAY BE ACCESSED BY CLICKING ON THE FOLLOWING LINK: [BUSINESS PRIVACY POLICY LINK] (AS MAY BE UPDATED FROM TIME TO TIME). YOU AGREE THAT WE MAY COLLECT, USE, RETAIN, AND DISCLOSE YOUR PERSONALLY IDENTIFIABLE INFORMATION TO THE EXTENT PERMISSIBLE BY LAW AND AS DESCRIBED IN THE PRIVACY POLICY AND COOKIE POLICY AND THAT THOSE POLICIES WILL GOVERN OUR COLLECTION AND USE OF YOUR PERSONALLY IDENTIFIABLE INFORMATION TO THE EXTENT PERMISSIBLE BY LAW.

      </p>

      <p>9. RULES OF CONDUCT AND GENERAL PROHIBITIONS.</p>
      <p>
      YOU MUST ONLY USE THIS SITE FOR LAWFUL PURPOSES, AND YOU MUST NOT USE IT IN ANY WAY THAT INFRINGES THE RIGHTS OF ANYONE ELSE OR THAT RESTRICTS OR INHIBITS ANYONE ELSE’S ENJOYMENT OF THE SITE. YOU MAY NOT, WITHOUT OUR WRITTEN CONSENT (I) COPY, REPRODUCE, USE, OR OTHERWISE DEAL WITH ANY CONTENT ON THE SITE; (II) MODIFY, DISTRIBUTE, OR RE-POST ANY CONTENT ON THE SITE FOR ANY PURPOSE; OR (III) USE THE CONTENT OF THE SITE FOR ANY COMMERCIAL EXPLOITATION WHATSOEVER.

      IN USING THE SITE, YOU FURTHER AGREE NOT TO DO ANY OF THE FOLLOWING:

      POST, PUBLISH, SUBMIT, OR OTHERWISE TRANSMIT ANY CONTENT THAT (I) INFRINGES, MISAPPROPRIATES, OR VIOLATES A THIRD PARTY’S PATENT, COPYRIGHT, TRADEMARK, TRADE SECRET, OR OTHER INTELLECTUAL PROPERTY RIGHTS, OR RIGHTS OF PUBLICITY OR PRIVACY; (II) IS KNOWINGLY FALSE, FRAUDULENT, MISLEADING, OR DECEPTIVE; (III) IS DEFAMATORY, ABUSIVE, VULGAR, HATEFUL, HARASSING, OBSCENE, PROFANE, SEXUALLY ORIENTED, THREATENING, INVASIVE OF A PERSON'S PRIVACY, OR OTHERWISE VOLATILE OF ANY LAW; OR (IV) PROMOTES ILLEGAL OR HARMFUL ACTIVITIES OR SUBSTANCES; DISRUPT OR INTERFERE WITH THE SECURITY OF, OR OTHERWISE ABUSE, THE SITE OR ANY SERVICE, SYSTEMS RESOURCE, ACCOUNT, SERVER, OR NETWORK CONNECTED TO OR ACCESSIBLE THROUGH THE SITE, OR AFFILIATED OR LINKED WEBSITES; DISRUPT OR INTERFERE WITH ANY OTHER USER’S ENJOYMENT OF THE SITE, OR AFFILIATED OR LINKED WEBSITES; POST, PUBLISH, SUBMIT OR OTHERWISE TRANSMIT THROUGH OR ON THE SITE ANY VIRUSES OR OTHER HARMFUL, DISRUPTIVE, OR DESTRUCTIVE FILES; USE, FRAME, OR UTILIZE FRAMING TECHNIQUES TO ENCLOSE OUR TRADEMARK, LOGO, OR OTHER PROPRIETARY INFORMATION (INCLUDING, BUT NOT LIMITED TO, IMAGES FOUND ON THE SITE, CONTENT, ANY TEXT, OR THE LAYOUT/DESIGN OF ANY PAGE OR FORM CONTAINED ON A PAGE) WITHOUT OUR EXPRESS WRITTEN CONSENT; USE META TAGS OR OTHER “HIDDEN TEXT” UTILIZING OUR NAME, TRADEMARK, OR PRODUCT NAME WITHOUT OUR EXPRESS WRITTEN CONSENT; DEEP LINK TO THE SITE WITHOUT OUR EXPRESS WRITTEN CONSENT; CREATE OR USE A FALSE IDENTITY ON THE SITE, SHARE YOUR ACCOUNT INFORMATION, OR ALLOW ANY PERSON BESIDES YOURSELF TO USE YOUR ACCOUNT TO ACCESS THE SITE; COLLECT OR STORE PERSONAL DATA ABOUT OTHERS; ATTEMPT TO OBTAIN UNAUTHORIZED ACCESS TO THE SITE OR PORTIONS OF IT THAT ARE RESTRICTED FROM GENERAL ACCESS; AND ENCOURAGE OR ENABLE ANOTHER USER OR INDIVIDUAL TO DO ANY OF THE FOREGOING PROHIBITED ACTIVITIES.

      BY ACCESSING OR USING THIS SITE YOU AGREE TO COMPLY WITH ALL APPLICABLE LOCAL, NATIONAL, AND INTERNATIONAL LAWS AND REGULATIONS RELATING TO YOUR USE OF OR ACTIVITIES ON THE SITE. TO THE EXTENT PERMISSIBLE BY LAW, WE WILL NOT BE RESPONSIBLE OR LIABLE TO ANY THIRD PARTY FOR THE USER CONTENT OR ACCURACY OF ANY CONTENT POSTED BY YOU OR ANY OTHER USER ON THE SITE. WE HAVE THE RIGHT TO REMOVE ANY USER CONTENT OR POSTING YOU MAKE ON THE SITE IF, IN OUR SOLE DISCRETION, SUCH CONTENT OR POSTING DOES NOT COMPLY WITH THE STANDARDS SET OUT IN THESE TERMS.

      IF YOU DO NOT AGREE TO THESE TERMS, YOU DO NOT HAVE OUR CONSENT TO OBTAIN INFORMATION FROM OR OTHERWISE USE THE SITE. FAILURE TO USE THE SITE IN ACCORDANCE WITH THESE TERMS MAY SUBJECT YOU TO CIVIL OR CRIMINAL PENALTIES.

      YOU ACKNOWLEDGE AND AGREE THAT BY ACCESSING OR USING THE SITE, AND/OR DOWNLOADING OR POSTING ANY CONTENT FROM OR ON THE SITE, YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND BY THESE TERMS WHETHER OR NOT YOU HAVE CREATED AN ACCOUNT ON THE SITE. IF YOU DO NOT AGREE TO THESE TERMS, YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE. IF YOU ACCEPT OR AGREE TO THESE TERMS ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT AND WARRANT THAT YOU HAVE THE AUTHORITY TO BIND THAT COMPANY OR LEGAL ENTITY TO THESE TERMS AND, IN SUCH EVENT, "YOU" OR "YOUR" WILL REFER AND APPLY TO THAT COMPANY OR OTHER LEGAL ENTITY.

      </p>


      <p>10. RIGHT TO USER CONTENT POSTED BY YOU.</p>
      <p>
      BY MAKING ANY USER CONTENT AVAILABLE TO OR THROUGH THE SITE, YOU HEREBY GRANT THE ART OF JALEH A NON-EXCLUSIVE, TRANSFERABLE, SUB-LICENSABLE, WORLDWIDE, ROYALTY-FREE LICENSE TO USE, COPY, MODIFY, CREATE DERIVATIVE WORKS BASED UPON, DISTRIBUTE, PUBLICLY DISPLAY, PUBLICLY PERFORM, AND DISTRIBUTE YOUR USER CONTENT IN CONNECTION WITH OPERATING AND PROVIDING PRODUCTS AND SERVICES TO YOU AND/OR OTHER USERS, AND ALSO IN CONNECTION WITH ADVERTISING OF OUR PRODUCTS AND SERVICES.

      IN THE EVENT YOU UPLOAD ANY USER CONTENT TO THE SITE, WE HAVE THE RIGHT TO USE ANY AND ALL SUCH ELEMENTS OF THE CONTENT IN CONNECTION WITH AND/OR AS PART OF OUR BUSINESS, INCLUDING, BUT NOT LIMITED TO, IN CONNECTION WITH OR IN ANY ADVERTISING IN ANY AND ALL MEDIA, PRODUCT PACKAGING, PRINTED PUBLICATIONS, PRESENTATIONS, PROMOTIONAL MATERIALS, EVENTS, AND ASSOCIATED MARKETING MATERIALS, TELEVISION AND CINEMA COMMERCIALS, VIDEOS, OR ON THE SITE IN PERPETUITY THROUGHOUT THE WORLD AS WE, IN OUR SOLE DISCRETION, SEE FIT WITHOUT FURTHER CONSENT BY, OR PAYMENT TO, YOU. BY UPLOADING USER CONTENT TO THE SITE, YOU AGREE TO GRANT THE ART OF JALEH THE RIGHT TO USE YOUR COPYRIGHT IN SUCH USER CONTENT. WE ALSO HAVE ALL RIGHT, TITLE, AND INTEREST IN ANY AND ALL RESULTS AND PROCEEDS FROM OUR USE OF THE USER CONTENT TO THE EXTENT PERMISSIBLE BY LAW. WE HAVE THE RIGHT TO TRANSFER OUR RIGHTS TO USE THE USER CONTENT TO ANY THIRD PARTY, INCLUDING, BUT NOT LIMITED TO, ANY OF OUR SUBSIDIARIES OR AFFILIATED COMPANIES.

      WE MAY ALTER, ADOPT, OR EDIT THE USER CONTENT AND ANY FURTHER MATERIAL CREATED UNDER THESE TERMS, AND MARKET AND EXPLOIT IT ENTIRELY IN OUR SOLE DISCRETION. WE ARE NOT OBLIGATED TO MAKE USE OF ANY OF YOUR USER CONTENT OR EXERCISE ANY OF THE RIGHTS GRANTED BY THESE TERMS.

      YOU ARE RESPONSIBLE FOR ALL YOUR USER CONTENT. YOU REPRESENT AND WARRANT THAT YOU OWN ALL OF YOUR USER CONTENT OR YOU HAVE ALL RIGHTS THAT ARE NECESSARY TO GRANT THE ART OF JALEH THE LICENSE RIGHTS IN YOUR USER CONTENT UNDER THESE TERMS. YOU ALSO REPRESENT AND WARRANT THAT NEITHER YOUR USER CONTENT, NOR YOUR USE AND PROVISION OF YOUR USER CONTENT TO BE MADE AVAILABLE THROUGH THE SITE, NOR ANY USE OF YOUR USER CONTENT BY THE ART OF JALEH ON OR THROUGH THE SITE, WILL INFRINGE, MISAPPROPRIATE, OR VIOLATE A THIRD PARTY’S INTELLECTUAL PROPERTY RIGHTS, RIGHTS OF PUBLICITY OR PRIVACY, OR RESULT IN THE VIOLATION OF ANY APPLICABLE LAW OR REGULATION.

      YOU CAN REMOVE YOUR USER CONTENT BY SPECIFICALLY DELETING IT. HOWEVER, IN CERTAIN CIRCUMSTANCES, SOME OF YOUR USER CONTENT (SUCH AS POSTS OR COMMENTS YOU MAKE) MAY NOT BE COMPLETELY REMOVED AND COPIES OF YOUR USER CONTENT MAY CONTINUE TO EXIST ON THE SITE. WE ARE NOT RESPONSIBLE OR LIABLE FOR THE REMOVAL OR DELETION OF (OR THE FAILURE TO REMOVE OR DELETE) ANY OF YOUR USER CONTENT.

      </p>


      <p>11. INDEMNIFICATION.</p>
      <p>
      YOU WILL DEFEND, INDEMNIFY, AND HOLD HARMLESS THE ART OF JALEH, OUR AFFILIATES, AND EACH OF OUR AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, CONTRACTORS, SUPPLIERS, REPRESENTATIVES, AND AGENTS FROM ANY AND ALL CLAIMS, DEMANDS, LIABILITIES, DAMAGES, LOSSES, COSTS, AND EXPENSES, INCLUDING, BUT NOT LIMITED TO, REASONABLE ATTORNEYS’ FEES, THAT ARISE FROM OR RELATE TO (I) YOUR ACCESS OR USE OF THE SITE OR CONTENT; (II) YOUR USER CONTENT; (III) VIOLATION OF ANY APPLICABLE LAW THAT PROTECTS THE ART OF JALEH OR OUR LEGAL RIGHTS OR THOSE OF ANY THIRD PARTY THAT YOUR ACTIONS HAVE DAMAGED; (IV) YOUR VIOLATION OF THESE TERMS OR ANY APPLICABLE LAW, INCLUDING, BUT NOT LIMITED TO, INFRINGEMENT BY YOU OF ANY INTELLECTUAL PROPERTY RIGHTS OWNED BY THE ART OF JALEH OR ANY THIRD PARTY; (V) ANY AND ALL ACTIVITIES THAT OCCUR UNDER OR IN CONNECTION WITH YOUR ACCOUNT, USERNAME, AND/OR PASSWORD. WE RESERVE THE RIGHT TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER OTHERWISE SUBJECT TO INDEMNIFICATION BY YOU, IN WHICH EVENT YOU WILL ASSIST AND COOPERATE WITH THE ART OF JALEH IN ASSERTING ANY AVAILABLE DEFENSES. YOU AGREE TO BE RESPONSIBLE FOR ALL SUCH DAMAGES, CLAIMS, OR LOSSES TO THE FULLEST EXTENT PERMITTED BY LAW, EVEN IF THEY ARE CAUSED BY OUR ACTIVE OR PASSIVE NEGLIGENCE, EVEN IF WE ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, CLAIMS, OR LOSSES, AND EVEN IF THEY ARE REASONABLY FORESEEABLE.

      </p>

      <p>12. COPYRIGHTS AND TRADEMARKS.</p>
      <p>
      THE SITE, INCLUDING ALL OF THE CONTENT, IS PROTECTED BY COPYRIGHT, TRADEMARK, AND OTHER LAWS OF THE UNITED STATES AND FOREIGN COUNTRIES. UNLESS EXPRESSLY STATED OTHERWISE, WE RETAIN OTHER PROPRIETARY RIGHTS IN ALL CONTENT AND PRODUCTS AVAILABLE THROUGH THE SITE. EXCEPT AS STATED HEREIN, NONE OF THE CONTENT MAY BE COPIED, MODIFIED, REPRODUCED, DISTRIBUTED, REPUBLISHED, DOWNLOADED, PERFORMED, DISPLAYED, POSTED, TRANSMITTED, SOLD, AND OR MADE INTO DERIVATIVE WORKS IN ANY FORM OR BY ANY MEANS, INCLUDING, BUT NOT LIMITED TO, ELECTRONIC, MECHANICAL, PHOTOCOPYING, RECORDING, OR OTHERWISE WITHOUT OUR PRIOR WRITTEN CONSENT AND PERMISSION OF THE RESPECTIVE COPYRIGHT OWNER. YOU MAY NOT, WITHOUT OUR EXPRESS WRITTEN PERMISSION OR THAT OF THE RESPECTIVE COPYRIGHT OWNER (I) COPY, UPLOAD, PUBLISH, POST, SUBMIT, OR TRANSMIT ANY MATERIALS ON ANY COMPUTER NETWORK OR BROADCAST OR PUBLICATIONS MEDIA; (II) MODIFY THE MATERIALS; OR (III) REMOVE OR ALTER ANY COPYRIGHT OR OTHER PROPRIETARY NOTICES CONTAINED IN THE MATERIALS. YOU ALSO MAY NOT (I) SELL, RESELL, OR MAKE COMMERCIAL USE OF THE SITE, ITS CONTENT, SERVICES, OR PRODUCTS OBTAINED THROUGH THE SITE; (II) COLLECT OR USE ANY PRODUCT LISTINGS OR DESCRIPTIONS; (III) MAKE DERIVATIVE USES OF THE SITE OR ITS CONTENT; OR (IV) USE ANY DATA MINING, ROBOTS, OR SIMILAR DATA GATHERING AND EXTRACTING METHODS. YOU ARE NOT CONVEYED ANY RIGHT OR LICENSE BY IMPLICATION, ESTOPPEL, OR OTHERWISE IN OR UNDER ANY OF OUR PATENT, TRADEMARK, COPYRIGHT, OR OTHER PROPRIETARY RIGHTS OF ANY THIRD PARTY.

      TOGETHER WITH OTHER LOGOS AND PRODUCT NAMES APPEARING ON THE SITE, THE FOLLOWING INCLUDES A PARTIAL LIST OF OUR TRADEMARKS AND/OR REGISTERED TRADEMARKS IN THE UNITED STATES AND OTHER COUNTRIES: [BUSINESS TRADEMARKS]. THESE AND ALL OF OUR OTHER TRADEMARKS MAY NOT BE COPIED, IMITATED, OR USED, IN WHOLE OR IN PART, WITHOUT OUR PRIOR WRITTEN PERMISSION OR THAT OF THE RIGHTS HOLDER. IN ADDITION, ALL PAGE HEADERS, CUSTOM GRAPHICS, BUTTON ICONS, AND SCRIPTS ARE OUR SERVICE MARKS, TRADEMARKS, AND/OR TRADE DRESS, AND MAY NOT BE COPIED, IMITATED, OR USED, IN WHOLE OR IN PART, WITHOUT OUR PRIOR WRITTEN PERMISSION. ANY OTHER NAMES AND BRANDS ON THE SITE MAY BE CLAIMED AS THE PROPERTY OF OTHERS.

      </p>


      <p>13. DMCA/COPYRIGHT POLICY.</p>
      <p>
      IT IS OUR POLICY TO RESPECT THE COPYRIGHT AND INTELLECTUAL PROPERTY RIGHTS OF OTHERS. WE MAY REMOVE CONTENT THAT APPEARS TO INFRINGE THE COPYRIGHT OR OTHER INTELLECTUAL PROPERTY RIGHTS, INCLUDING MORAL RIGHTS, OF OTHERS. IN ADDITION, WE MAY TERMINATE ACCESS BY USERS WHO APPEAR TO INFRINGE THE INTELLECTUAL PROPERTY OR OTHER RIGHTS OF OTHERS.

      WE COMPLY WITH THE DIGITAL MILLENNIUM COPYRIGHT ACT ("DMCA"). IF YOU BELIEVE WE OR ANY USER OF THE SITE HAS INFRINGED YOUR COPYRIGHT IN ANY MATERIAL WAY, PLEASE NOTIFY THE ART OF JALEH AND PROVIDE THE FOLLOWING:

      AN IDENTIFICATION OF THE INTELLECTUAL PROPERTY RIGHT CLAIMED TO HAVE BEEN INFRINGED;

      AN IDENTIFICATION OF THE MATERIAL YOU CLAIM IS INFRINGING SO THAT WE MAY LOCATE IT ON THE SITE;

      YOUR ADDRESS, TELEPHONE NUMBER, AND EMAIL ADDRESS;

      A STATEMENT BY YOU THAT YOU HAVE A GOOD FAITH BELIEF THAT THE DISPUTED USE IS NOT AUTHORIZED BY THE OWNER OR ITS LICENSEE, OR THE AGENT OF EITHER OF THE FOREGOING, OR THE LAW;

      A STATEMENT BY YOU THAT THE ABOVE INFORMATION IN YOUR NOTICE IS ACCURATE AND MADE UNDER PENALTY OF PERJURY; AND

      THAT YOU ARE AUTHORIZED TO ACT ON BEHALF OF THE OWNER OF THE INTELLECTUAL PROPERTY INTEREST INVOLVED.

      PLEASE DIRECT INQUIRIES REGARDING INTELLECTUAL PROPERTY INFRINGEMENT ISSUES BY WRITING TO THE ATTENTION OF THE HELLOJALEH@GMAIL.COM.

      </p>


      <p>14. LINKS TO THIRD PARTY WEBSITES.</p>
      <p>
      THE SITE MAY CONTAIN LINKS TO THIRD PARTY WEBSITES OR SERVICES AND ADVERTISEMENTS FOR THIRD PARTIES (COLLECTIVELY, THE "THIRD PARTY SITES & ADS"). SUCH THIRD PARTY SITES & ADS ARE NOT UNDER OUR CONTROL AND WE ARE NOT RESPONSIBLE FOR ANY THIRTY PARTY SITES & ADS. WE PROVIDE THESE THIRD PARTY SITES & ADS ONLY AS A CONVENIENCE AND ARE NOT RESPONSIBLE FOR THE CONTENT, PRODUCTS, OR SERVICES ON OR AVAILABLE FROM THOSE THIRD PARTY SITES & ADS. YOU ACKNOWLEDGE SOLE RESPONSIBILITY FOR AND ASSUME ALL RISK ARISING FROM YOUR USE OF THIRD PARTY SITES & ADS.

      THE INCLUSION OF A HYPERLINK TO THIRD PARTY SITES & ADS DOES NOT IMPLY AFFILIATION, ENDORSEMENT, OR ADOPTION BY THE ART OF JALEH OF THE THIRD PARTY SITES & ADS OR ANY INFORMATION CONTAINED THEREIN.

      </p>

      <p>15. PRODUCT SATISFACTION AND RETURN POLICY.</p>
      <p>
      OUR GOAL IS 100% CUSTOMER SATISFACTION AND IF, FOR ANY REASON, YOU ARE NOT COMPLETELY SATISFIED WITH YOUR ORDER OR ANY OF OUR PRODUCTS, PLEASE CONTACT HELLOJALEH@GMAIL.COM. FOR RETURNS AND EXCHANGES, PLEASE SEE THE PRODUCT DESCRIPTIONS ON  THE ART OF JALEH

      </p>

      <p>16. PRODUCT DESCRIPTIONS.</p>
      <p>
      WE HAVE TAKEN REASONABLE PRECAUTIONS TO ENSURE THAT ALL PRODUCT DESCRIPTIONS, PRICES, AND OTHER CONTENT ON THE SITE ARE CORRECT AND FAIRLY DESCRIBED. BY PLACING AN ORDER ON THIS SITE, YOU ARE MAKING AN OFFER TO THE ART OF JALEH. OUR ACKNOWLEDGMENT OF AN ORDER MEANS THAT YOUR ORDER REQUEST HAS BEEN RECEIVED; IT DOES NOT MEAN THAT YOUR ORDER HAS BEEN ACCEPTED OR SHIPPED OR THAT THE PRICE OR AVAILABILITY OF AN ITEM HAS BEEN CONFIRMED. WE RESERVE THE RIGHT TO NOT ACCEPT THE OFFER IF THERE HAS BEEN A MATERIAL ERROR IN THE DESCRIPTION OF THE PRODUCT, OR IF THE PRICE ADVERTISED IS INCORRECT. ALL PRICES ARE DISPLAYED IN UNITED STATES DOLLARS UNLESS EXPRESSLY INDICATED OTHERWISE.

      </p>


      <p>17. ONLINE PURCHASES.</p>
      <p>
      IF YOU WISH TO PURCHASE ANY PRODUCT OR SERVICE MADE AVAILABLE THROUGH THE SITE (EACH SUCH PURCHASE, A "TRANSACTION"), YOU MAY BE ASKED TO SUPPLY CERTAIN INFORMATION RELEVANT TO YOUR TRANSACTION INCLUDING, WITHOUT LIMITATION, YOUR CREDIT CARD NUMBER, THE EXPIRATION DATE OF YOUR CREDIT CARD, YOUR BILLING ADDRESS, AND SHIPPING INFORMATION. YOU REPRESENT AND WARRANT THAT YOU HAVE THE LEGAL RIGHT TO USE ANY CREDIT CARD(S) OR OTHER PAYMENT METHOD(S) UTILIZED IN CONNECTION WITH ANY TRANSACTION. BY SUBMITTING SUCH INFORMATION, YOU GRANT THE ART OF JALEH THE RIGHT TO PROVIDE SUCH INFORMATION TO THIRD PARTIES FOR PURPOSES OF FACILITATING THE COMPLETION OF TRANSACTIONS INITIATED BY YOU OR ON YOUR BEHALF. VERIFICATION OF INFORMATION MAY BE REQUIRED PRIOR TO THE ACKNOWLEDGMENT OR COMPLETION OF ANY TRANSACTION.

      ALL PURCHASES OF PHYSICAL ITEMS FROM THE ART OF JALEH ARE MADE PURSUANT TO A SHIPMENT CONTRACT. THIS MEANS THAT THE RISK OF LOSS AND TITLE OF SUCH ITEMS PASS TO YOU UPON OUR DELIVERY TO THE CARRIER.

      ALL DESCRIPTIONS, IMAGES, REFERENCES, FEATURES, CONTENT, SPECIFICATIONS, PRODUCTS, AND PRICES OF PRODUCTS AND SERVICES DESCRIBED OR DEPICTED ON THE SITE ARE SUBJECT TO CHANGE AT ANY TIME WITHOUT NOTICE. CERTAIN WEIGHTS, MEASURES, AND OTHER DESCRIPTIONS ARE APPROXIMATE AND ARE PROVIDED FOR CONVENIENCE PURPOSES ONLY. THE INCLUSION OF ANY PRODUCTS OR SERVICES ON THE SITE DOES NOT IMPLY OR WARRANT THAT THESE PRODUCTS OR SERVICES WILL BE AVAILABLE.

      IT IS YOUR RESPONSIBILITY TO ASCERTAIN AND OBEY ALL APPLICABLE LOCAL, STATE, FEDERAL, AND INTERNATIONAL LAWS IN REGARD TO THE RECEIPT, POSSESSION, USE, AND SALE OF ANY ITEM PURCHASED FROM THIS SITE. BY PLACING AN ORDER, YOU REPRESENT THAT THE PRODUCTS ORDERED WILL BE USED ONLY IN A LAWFUL MANNER. WE RESERVE THE RIGHT, WITH OR WITHOUT PRIOR NOTICE, TO DO ANY ONE OR MORE OF THE FOLLOWING: (I) LIMIT THE AVAILABLE QUANTITY OF OR DISCONTINUE ANY PRODUCT OR SERVICE; (II) BAR ANY USER FROM MAKING OR COMPLETING ANY OR ALL TRANSACTION(S); AND (III) REFUSE TO PROVIDE ANY USER WITH ANY PRODUCT OR SERVICE. YOU AGREE TO PAY ALL CHARGES THAT MAY BE INCURRED BY YOU OR ON YOUR BEHALF THROUGH THE SITE, AT THE PRICE(S) IN EFFECT WHEN SUCH CHARGES ARE INCURRED, INCLUDING, WITHOUT LIMITATION, ALL SHIPPING AND HANDLING CHARGES. IN ADDITION, YOU REMAIN RESPONSIBLE FOR ANY TAXES THAT MAY BE APPLICABLE TO YOUR TRANSACTIONS.

      </p>


      <p>18. ORDER AND PAYMENT INFORMATION.</p>
      <p>
      IF YOU USE THE SITE OR OTHER MEANS TO PURCHASE A PRODUCT OR SERVICE, PAYMENT MUST BE RECEIVED BY THE ART OF JALEH PRIOR TO OUR ACCEPTANCE OF AN ORDER, UNLESS OTHERWISE AGREED TO BY US IN ADVANCE. ALL OF OUR PRODUCTS ARE SUBJECT TO SALES TAX, WHICH WILL BE APPLIED TO YOUR ORDER TOTAL. WE MAY NEED TO VERIFY INFORMATION YOU PROVIDE BEFORE WE ACCEPT AN ORDER AND MAY CANCEL OR LIMIT AN ORDER ANY TIME AFTER IT HAS BEEN PLACED. IF PAYMENT HAS ALREADY BEEN MADE AND YOUR ORDER IS CANCELLED OR LIMITED, WE WILL REFUND YOU ANY PAYMENT MADE FOR THE PRODUCT THAT WILL NOT BE SHIPPED DUE TO CANCELLATION OR LIMITATION OF AN ORDER IN THE SAME TENDER AS THE ORIGINAL PURCHASE. WE EXPRESSLY CONDITION ACCEPTANCE OF YOUR ORDER ON YOUR AGREEMENT TO THESE TERMS.

      WE WILL ADD APPLICABLE SHIPPING AND HANDLING FEES TO YOUR CHARGES, AS STATED IN YOUR ORDER. WE RESERVE THE RIGHT TO REJECT ORDERS WHERE THE STATED DELIVERY ADDRESS IS OUTSIDE THE UNITED STATES.

      </p>


      <p>19. ANTI-DIVERSION.</p>
      <p>
      WE ARE NOT RESPONSIBLE FOR ANY INJURY OR DAMAGE THAT MAY RESULT FROM THE PURCHASE OF PRODUCTS THROUGH DISTRIBUTORS OR RETAILERS WHO ARE NOT AUTHORIZED DISTRIBUTORS OR RETAILERS OF OUR PRODUCTS. WE ARE NOT RESPONSIBLE FOR ANY INJURY OR DAMAGE THAT MAY RESULT FROM PRODUCTS PURCHASED PAST THEIR EXPIRATION DATE OR THOSE THAT HAVE BEEN ALTERED OR DISCONTINUED.

      </p>


      <p>20. DISCLAIMER OF WARRANTIES.</p>
      <p>
      OUR PRODUCTS, SERVICES, AND CONTENT ARE PROVIDED "AS IS," WITHOUT ANY WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING, WE EXPLICITLY DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. WE MAKE NO WARRANTY THAT THE SERVICES OR PRODUCTS AVAILABLE ON THE SITE WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SITE AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE, INCLUDING ANY SERVICES PROVIDED TO YOU.

      IN NO EVENT WILL OUR AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH ANY WARRANTIES RELATING TO OUR PRODUCTS, SERVICES, OR CONTENT, THESE TERMS AND YOUR USE OF THE SITE, INCLUDING, BUT NOT LIMITED TO, FROM YOUR PURCHASE OF ANY PRODUCTS VIA THE SITE, OR FROM THE USE OF OR INABILITY TO USE THE SITE, EXCEED THE AMOUNTS YOU HAVE PAID OR OWE FOR PRODUCTS PURCHASED VIA THE SITE IN THE LAST TWELVE (12) MONTH PERIOD PRIOR TO THE EVENT GIVING RISE TO YOUR CLAIM OF LIABILITY. THE LIMITATIONS OF LIABILITY AND DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN YOU AND THE ART OF JALEH. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.

      </p>


      <p>21. LIMITATIONS OF LIABILITY.</p>
      <p>
      TO THE EXTENT PERMITTED BY LAW, YOU AGREE THAT NEITHER THE ART OF JALEH, OUR AFFILIATES, OR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING PRODUCTS, SERVICES, OR CONTENT ON THE SITE WILL BE LIABLE FOR ANY CLAIMS, LOSSES, OR DAMAGES (INCLUDING, WITHOUT LIMITATION, COMPENSATORY, INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES), HOWEVER CAUSED OR UNDER ANY THEORY OF LIABILITY – EVEN OUR OWN ACTIVE OR PASSIVE NEGLIGENCE – ARISING IN CONNECTION WITH (I) THE SITE; (II) THE USE OR INABILITY TO USE THE SITE; (III) THE USE OF OR RELIANCE ON ANY CONTENT OR INFORMATION DISPLAYED IN OR ON THE SITE; (IV) THE PURCHASE OR USE OF ANY PRODUCTS OR SERVICES THROUGH THE SITE OR OTHERWISE; (V) UNAUTHORIZED ACCESS TO OR ALTERATION OR LOSS OF YOUR TRANSMISSIONS OF DATA OR OTHER INFORMATION THAT IS SENT TO OR RECEIVED BY THE SITE; (VI) ERRORS, SYSTEM DOWN TIME, NETWORK OR SYSTEM OUTAGES, FILE CORRUPTION, OR SERVICE INTERRUPTIONS; OR (VII) OTHERWISE UNDER THESE TERMS, WHETHER OR NOT REASONABLY FORESEEABLE, EVEN IF WE OR OUR REPRESENTATIVES ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, CLAIMS, OR LOSSES, AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.

      NOTWITHSTANDING ANYTHING TO THE CONTRARY HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE OF ACTION OR CLAIM WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU IN THE LAST TWELVE (12) MONTHS TO THE ART OF JALEH FOR ANY PRODUCTS OR SERVICES SUPPLIED BY US THROUGH YOUR USE OF THE SITE OR OTHERWISE.

      WE WILL NOT BE LIABLE IN ANY AMOUNT FOR FAILURE TO PERFORM ANY OBLIGATION UNDER THESE TERMS IF SUCH FAILURE IS CAUSED BY THE OCCURRENCE OF ANY UNFORESEEN CONTINGENCY BEYOND OUR REASONABLE CONTROL, INCLUDING, WITHOUT LIMITATION, INTERNET OUTAGES, COMMUNICATIONS OUTAGES, FIRE, FLOOD, OR WAR.

      THE TERMS OF THIS SECTION SURVIVE ANY TERMINATION OF THESE TERMS.

      </p>


      <p>22. TERMINATION.</p>
      <p>
      NOTWITHSTANDING ANY OF THESE TERMS, WE RESERVE THE RIGHT, WITHOUT NOTICE AND IN OUR SOLE DISCRETION, FOR ANY REASON OR NO REASON, TO TERMINATE YOUR ABILITY TO USE THE SITE AND TO BLOCK AND PREVENT FUTURE ACCESS TO AND USE OF THE SITE. YOU AGREE THAT WE WILL NOT BE LIABLE FOR ANY TERMINATION OF YOUR USE OF OR ACCESS TO THE SITE.

      </p>


      <p>23. NO THIRD-PARTY BENEFICIARIES.</p>
      <p>
      WE AND YOU ARE THE ONLY PARTIES ENTITLED TO ENFORCE THESE TERMS. THESE TERMS DO NOT AND ARE NOT INTENDED TO CONFER ANY RIGHTS OR REMEDIES UPON ANY PERSON OTHER THAN YOU AND THE ART OF JALEH. NOTWITHSTANDING THE FOREGOING, THE PARTIES AGREE THAT THE PAYMENT CARD NETWORKS ARE THIRD PARTY BENEFICIARIES OF THESE TERMS FOR PURPOSES OF ENFORCING PROVISIONS RELATING TO PAYMENTS, BUT THAT THEIR CONSENT OR AGREEMENT IS NOT NECESSARY FOR ANY CHANGES OR MODIFICATIONS TO THESE TERMS. YOU ALSO AGREE THAT IF WE ASSIGN, TRANSFER, OR SUB-CONTRACT ANY OF OUR RIGHTS OR OBLIGATIONS UNDER THESE TERMS TO ANY THIRD PARTY IN WRITING, SUCH THIRD PARTY MAY ENFORCE THE TERMS THAT ARE ASSIGNED, TRANSFERRED, OR SUB-CONTRACTED.

      </p>


      <p>24. DISPUTE RESOLUTION.</p>
      <p>
      AGREEMENT TO ARBITRATE AND WAIVER OF CLASS ACTIONS AND CLASS ARBITRATIONS

      WE EACH AGREE THAT ANY DISPUTE, CLAIM, OR CONTROVERSY ARISING OUT OF OR RELATING TO OUR PRODUCTS, SERVICES, THESE TERMS, INCLUDING OUR PRIVACY POLICY AND COOKIE POLICY, OR THE BREACH, TERMINATION, ENFORCEMENT, INTERPRETATION, OR VALIDITY THEREOF OR THE USE OF THE SERVICES OR CONTENT AVAILABLE ON OR THROUGH THE SITE (COLLECTIVELY, "DISPUTES") WILL BE SETTLED BY CONFIDENTIAL BINDING ARBITRATION, EXCEPT THAT EACH PARTY RETAINS THE RIGHT TO (I) BRING AN INDIVIDUAL ACTION IN SMALL CLAIMS COURT; AND (II) SEEK INJUNCTIVE OR OTHER EQUITABLE RELIEF IN A COURT OF COMPETENT JURISDICTION TO PREVENT THE ACTUAL OR THREATENED INFRINGEMENT, MISAPPROPRIATION, OR VIOLATION OF A PARTY’S COPYRIGHTS, TRADEMARK, TRADE SECRETS, PATENTS, OR OTHER INTELLECTUAL PROPERTY RIGHTS (THE ACTION DESCRIBED IN THE FOREGOING CLAUSE (II) AN "IP PROTECTION ACTION"). THE EXCLUSIVE JURISDICTION AND VENUE OF ANY IP PROTECTION ACTION WILL BE THE STATE AND FEDERAL COURTS LOCATED IN HOUSTON, TEXAS AND EACH OF THE PARTIES HERETO WAIVES ANY OBJECTION TO JURISDICTION AND VENUE IN SUCH COURTS.

      YOU ACKNOWLEDGE AND AGREE THAT BOTH YOU AND THE ART OF JALEH ARE WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE AS A PLAINTIFF OR CLASS REPRESENTATIVE OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING. FURTHER, UNLESS WE BOTH OTHERWISE AGREE IN WRITING, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF ANY CLASS OR REPRESENTATIVE PROCEEDING. IF THIS SPECIFIC PARAGRAPH IS HELD UNENFORCEABLE, THEN THE ENTIRETY OF THIS “DISPUTE RESOLUTION” SECTION WILL BE DEEMED VOID. EXCEPT AS PROVIDED IN THE PRECEDING SENTENCE, THIS “DISPUTE RESOLUTION” SECTION WILL SURVIVE TERMINATION OF THESE TERMS.

      THE PARTIES AGREE THAT (I) THESE TERMS MEMORIALIZE A TRANSACTION IN INTERSTATE COMMERCE; (II) THE FEDERAL ARBITRATION ACT (9 U.S.C. §§ 1, ET SEQ.) GOVERNS THE INTERPRETATION AND ENFORCEMENT OF THIS SECTION; AND (III) THIS SECTION WILL SURVIVE TERMINATION OF THESE TERMS.

      </p>


      <p>25. DISPUTE NOTICE AND ARBITRATION PROCESS.</p>
      <p>
      PRIOR TO INITIATING AN ARBITRATION PROCEEDING, YOU MUST FIRST SEND THE ART OF JALEH A WRITTEN STATEMENT SETTING FORTH YOUR NAME, ADDRESS, AND TELEPHONE NUMBER, THE FACTS GIVING RISE TO THE DISPUTE, AND THE RELIEF REQUESTED ("DISPUTE STATEMENT"). THE DISPUTE STATEMENT TO THE ART OF JALEH MUST BE MAILED TO THE ATTENTION OF [BUSINESS LEGAL CONTACT] VIA NATIONALLY RECOGNIZED OVERNIGHT COURIER. IF WE ARE UNABLE TO RESOLVE YOUR CLAIM WITHIN THIRTY (30) DAYS OF RECEIPT OF THE DISPUTE STATEMENT, THEN EITHER PARTY THAT DESIRES TO INITIATE AN ARBITRATION MUST PROVIDE THE OTHER PARTY WITH A WRITTEN DEMAND FOR ARBITRATION AS SPECIFIED IN THE JAMS PROCEDURES.

      THE ARBITRATOR, AND NOT ANY FEDERAL, STATE, OR LOCAL COURT OR AGENCY, WILL HAVE EXCLUSIVE AUTHORITY TO RESOLVE ALL DISPUTES ARISING OUT OF OR RELATING TO THE INTERPRETATION, APPLICABILITY, ENFORCEABILITY, OR FORMATION OF THESE TERMS, INCLUDING, BUT NOT LIMITED TO, ANY CLAIM THAT ALL OR ANY PART OF THESE TERMS IS VOID OR VOIDABLE

      </p>


      <p>26. ARBITRATION LOCATION AND PROCEDURE.</p>
      <p>
      UNLESS THE PARTIES OTHERWISE AGREE, THE ARBITRATION WILL BE CONDUCTED IN THE COUNTY WHERE YOU RESIDE. IF YOUR CLAIM DOES NOT EXCEED $10,000, THEN (I) THE ARBITRATION WILL BE CONDUCTED SOLELY ON THE BASIS OF DOCUMENTS THE PARTIES SUBMIT TO THE ARBITRATOR, UNLESS YOU REQUEST A HEARING OR THE ARBITRATOR DETERMINES THAT A HEARING IS NECESSARY; AND (II) IF THERE IS A HEARING, YOU MAY CHOOSE WHETHER TO PARTICIPATE IN PERSON OR BY TELEPHONE. IF YOUR CLAIM EXCEEDS $10,000, YOUR RIGHT TO A HEARING WILL BE DETERMINED BY THE JAMS PROCEDURES. SUBJECT TO THE JAMS PROCEDURES, THE ARBITRATOR WILL HAVE THE DISCRETION TO DIRECT A REASONABLE EXCHANGE OF INFORMATION BY THE PARTIES, CONSISTENT WITH THE EXPEDITED NATURE OF THE ARBITRATION.

      </p>


      <p>27. ARBITRATOR'S DECISION.</p>
      <p>
      THE ARBITRATOR'S DECISION WILL INCLUDE THE ESSENTIAL FINDINGS AND CONCLUSIONS OF LAW UPON WHICH THE ARBITRATOR BASED THE AWARD. JUDGMENT ON THE ARBITRATION MAY BE ENTERED IN ANY COURT HAVING COMPETENT JURISDICTION THEREOF. THE ARBITRATOR'S AWARD OF DAMAGES MUST BE CONSISTENT WITH THE TERMS OF THE "DISCLAIMER OF WARRANTIES," AND "LIMITATIONS OF LIABILITY" SECTIONS ABOVE AS TO THE TYPES AND AMOUNTS OF DAMAGES FOR WHICH A PARTY MAY BE HELD LIABLE. THE ARBITRATOR MAY AWARD DECLARATORY AND INJUNCTIVE RELIEF ONLY IN FAVOR OF THE CLAIMANT AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF WARRANTED BY THE CLAIMANT'S INDIVIDUAL CLAIM. IF YOU PREVAIL IN ARBITRATION YOU WILL BE ENTITLED TO AN AWARD OF ATTORNEYS' FEES AND EXPENSES, TO THE EXTENT PROVIDED UNDER APPLICABLE LAW. THE ART OF JALEH WILL NOT SEEK, AND HEREBY WAIVES ALL RIGHTS IT MAY HAVE UNDER APPLICABLE LAW TO RECOVER, ATTORNEYS' FEES AND EXPENSES IF IT PREVAILS IN ARBITRATION.

      </p>


      <p>28. TIME LIMIT FOR RESOLVING DISPUTES.</p>
      <p>
      THE PARTIES AGREE THAT ANY CAUSE OF ACTION EITHER MAY HAVE WITH RESPECT TO THE SITE OR OUR PRODUCTS, SERVICES, AND CONTENT MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE DISPUTE ARISES, NOTWITHSTANDING ANY STATUTES OF LIMITATIONS TO THE CONTRARY. MANY STATES' LAWS SET STATUTES OF LIMITATIONS THAT ARE LONGER THAN ONE (1) YEAR. IF YOU LIVE IN A STATE THAT HAS STATUTES OF LIMITATIONS THAT ARE LONGER THAN ONE (1) YEAR, BY AGREEING TO THESE TERMS, YOU ARE AGREEING TO SHORTEN THE TIME YOU HAVE TO BRING A CLAIM. THIS MEANS THAT IF YOU WAIT LONGER THAN ONE (1) YEAR TO INITIATE ARBITRATION UNDER THIS SECTION, YOU WILL LOSE SOME OR ALL RIGHTS YOU MAY HAVE TO ANY RECOVERY, INCLUDING THE RIGHT TO RECOVER DAMAGES, IN CONNECTION WITH A DISPUTE.

      THE TERMS OF THIS DISPUTE RESOLUTION SECTION SURVIVE ANY TERMINATION OF THESE TERMS.

      RIGHT TO OPT-OUT OR REJECT FUTURE CHANGES TO DISPUTE RESOLUTION SECTION

      YOU MAY ELECT TO OPT-OUT (EXCLUDE YOURSELF) FROM THE FINAL, BINDING, INDIVIDUAL ARBITRATION PROCEDURE OR WAIVER OF CLASS AND REPRESENTATIVE PROCEEDINGS SPECIFIED IN THIS SECTION BY SENDING A WRITTEN LETTER VIA NATIONALLY RECOGNIZED OVERNIGHT COURIER TO THE ATTENTION OF  [BUSINESS LEGAL CONTACT] WITHIN THIRTY (30) DAYS OF YOUR FIRST VISIT TO AND USE OF THE SITE THAT SPECIFIES YOUR (I) NAME; (II) MAILING ADDRESS; AND (III) REQUEST TO BE EXCLUDED FROM THE FINAL, BINDING, INDIVIDUAL ARBITRATION PROCEDURE OR WAIVER OF CLASS AND REPRESENTATIVE PROCEEDINGS SPECIFIED IN THIS SECTION. IN THE EVENT YOU OPT-OUT CONSISTENT WITH THE PROCEDURE SET FORTH ABOVE, ALL OTHER TERMS AND CONDITIONS OF THESE TERMS WILL CONTINUE TO APPLY. IF YOU DO NOT SO OPT-OUT, THEN THE TERMS OF THIS SECTION WILL APPLY.

      NOTWITHSTANDING THE PROVISIONS OF “CHANGES TO TERMS OF USE” SECTION ABOVE, IF THE ART OF JALEH CHANGES THIS "DISPUTE RESOLUTION" SECTION AFTER THE DATE YOU FIRST ACCEPTED THESE TERMS (OR ACCEPTED SUBSEQUENT CHANGES TO THE TERMS), YOU MAY REJECT ANY SUCH CHANGE BY SENDING THE ART OF JALEH WRITTEN NOTICE TO THE ATTENTION [BUSINESS LEGAL CONTACT] WITHIN THIRTY (30) DAYS OF THE DATE SUCH CHANGE BECAME EFFECTIVE, AS INDICATED IN THE "LAST UPDATED" DATE ABOVE. BY REJECTING ANY CHANGE, YOU ARE AGREEING THAT YOU WILL ARBITRATE ANY DISPUTE BETWEEN YOU AND THE ART OF JALEH IN ACCORDANCE WITH THE PROVISIONS OF THIS "DISPUTE RESOLUTION" SECTION AS OF THE DATE YOU FIRST ACCEPTED THESE TERMS (OR ACCEPTED ANY SUBSEQUENT CHANGES TO THESE TERMS).

      </p>


      <p>29. GENERAL TERMS.</p>
      <p>
      THESE TERMS CONSTITUTE THE ENTIRE AND EXCLUSIVE UNDERSTANDING AND AGREEMENT BETWEEN THE ART OF JALEH AND YOU REGARDING THE SITE, CONTENT, PRODUCTS, AND SERVICES THAT MAY BE PROVIDED ON THE SITE, AND THESE TERMS SUPERSEDE AND REPLACE ANY AND ALL PRIOR ORAL OR WRITTEN UNDERSTANDINGS OR AGREEMENTS BETWEEN YOU AND THE ART OF JALEH REGARDING THE CONTENT, PRODUCTS, OR SERVICES PROVIDED ON THE SITE. IF, FOR ANY REASON, A COURT OF COMPETENT JURISDICTION FINDS ANY PROVISION OF THESE TERMS INVALID OR UNENFORCEABLE, THAT PROVISION WILL BE ENFORCED TO THE MAXIMUM EXTENT PERMISSIBLE AND THE OTHER PROVISIONS OF THESE TERMS WILL REMAIN IN FULL FORCE AND EFFECT.

      YOU MAY NOT ASSIGN OR TRANSFER THESE TERMS, BY OPERATION OF LAW OR OTHERWISE, WITHOUT OUR PRIOR WRITTEN CONSENT. ANY ATTEMPT BY YOU TO ASSIGN OR TRANSFER THESE TERMS WITHOUT SUCH CONSENT WILL BE NULL AND OF NO EFFECT. WE MAY FREELY ASSIGN OR TRANSFER THESE TERMS WITHOUT RESTRICTION. SUBJECT TO THE FOREGOING, THESE TERMS WILL BIND AND INURE TO THE BENEFIT OF THE PARTIES, THEIR SUCCESSORS, AND PERMITTED ASSIGNS.

      ANY NOTICES OR OTHER COMMUNICATIONS PROVIDED BY THE ART OF JALEH UNDER THESE TERMS, INCLUDING THOSE REGARDING MODIFICATIONS TO THESE TERMS, WILL BE GIVEN BY POSTING TO THE SITE.

      OUR FAILURE TO ENFORCE ANY RIGHT OR PROVISION OF THESE TERMS WILL NOT BE CONSIDERED A WAIVER OF THOSE RIGHTS. THE WAIVER OF ANY SUCH RIGHT OR PROVISION WILL BE EFFECTIVE ONLY IF IN WRITING AND SIGNED BY A DULY AUTHORIZED REPRESENTATIVE OF THE ART OF JALEH. EXCEPT AS EXPRESSLY SET FORTH IN THESE TERMS, THE EXERCISE BY EITHER PARTY OF ANY OF ITS REMEDIES UNDER THESE TERMS WILL BE WITHOUT PREJUDICE TO ITS OTHER REMEDIES UNDER THESE TERMS OR OTHERWISE.

      NOTHING IN THESE TERMS WILL BE CONSTRUED AS CREATING A JOINT VENTURE, PARTNERSHIP, EMPLOYMENT, OR AGENCY RELATIONSHIP BETWEEN YOU AND THE ART OF JALEH, AND YOU DO NOT HAVE ANY AUTHORITY TO CREATE ANY OBLIGATION ON OUR BEHALF.

      </p>


      <p>30. CONTACT INFORMATION.</p>
      <p>
      THEARTOFJALEH.COM
      </p>

    </p>
  </div>
</div>
