<div class="container-fluid my-3 pb-5">
  <div class="d-flex justify-content-center mb-3">
    <h2>Contact Me</h2>
  </div>
  <div class="d-flex justify-content-center mx-5">
    <p class="text-center">
      Have a question or want to work together? I'll get back to you as soon as possible if you write me below.
      If you would like a commission, please let me know roughly what size you are looking for, colors and any other details you would like to include.
      For available sizes, check out the <a href="/commissions">commissions page</a>.
    </p>
  </div>
  <div class="my-3 mx-5">
    <%= render "form", contact: @contact %>
  </div>
</div>
