<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Contact Form Submission</title>
  </head>
  <body>
    <h1>Contact Form Submission</h1>
    <p>Hi Jaleh,</p>
    <br>
    <p>
      Someone has filled out the contact form on your website with the following information:
    </p>
    <br>
    <br>
    <ul>
      <li>Name: <%= @contact.name %></li>
      <li>Message: <%= @contact.email %></li>
      <li>Message: <%= @contact.message %></li>
    </ul>
    <br>
    <p>Let them know what you think!</p>
  </body>
</html>
