<h1> Hi <%= @order.name.capitalize %>,</h1>

<p>
  Your painting is on the way! I'll send you a tracking number as soon as it ships.

</p>
<br>
<br>
<p>

  Let me know if you have any questions.
</p>

<br>
<br>
<p>
  Best,
</p>
<br>
<p>
  Jaleh
</p>
