.list-line {
  list-style: none;
  padding-left: 0px;
}

.list-line li {
  // display: inline;
  padding: 10px;
}
.list-line i {
  font-size: 50px;
  color: rgb(174, 204, 211);
}
.list-line i:hover {
  color: black;
}


@media (max-width: 600px) {
  .list-line {
    display: none;
    // flex-direction: row;
    // justify-content: center;
  }
  .list-line li {

    // margin-bottom: 10px; /* Add some space between the icons on small screens */
  }

}
