.card {
  overflow: hidden;
  position: relative;
}

.nft-card {
  overflow: hidden;
  position: relative;
}



.price {
  position: absolute;
  bottom: 1em;
  // width: 70px;
  // height: 70px;
  // font-size: 1.45em;
  // font-weight: 600;
  // line-height: 70px;
  // margin: 10px;
  // top: 0;
  // letter-spacing: 0;
}

.card > img {
  width: 100%;
  min-width: 350px;
  height: auto;
  max-height: 390px;
  object-fit: cover;
}

.nft-card > img {
  width: 100%;
  min-width: 300px;
  height: auto;
  max-height: 390px;
  object-fit: cover;
}

// /* If the screen size is 491px wide or less */
// @media screen and (max-width: 491px) {
//   .card > img {
//     width: 100%;
//     min-width: 0px;
//     height: auto;
//     max-height: 390px;
//     object-fit: cover;
//   }
// }

// /* If the screen size is 575px wide or less */
// @media screen and (max-width: 575px) {
//   .card > img {
//     width: 100%;
//     min-width: 200px;
//     height: auto;
//     max-height: 390px;
//     object-fit: cover;
//   }
// }

/* If the screen size is 767px wide or less */
@media screen and (max-width: 767px) {
  .card > img {
    width: 100%;
    min-width: 0px;
    height: auto;
    max-height: 390px;
    object-fit: cover;
  }

  .nft-card > img {
    width: 100%;
    min-width: 0px;
    height: auto;
    max-height: 390px;
    object-fit: cover;
  }
}

/* If the screen size is 992px down to 777px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card > img {
    width: 100%;
    min-width: 200px;
    height: auto;
    max-height: 390px;
    object-fit: cover;
  }

  .nft-card > img {
    width: 100%;
    min-width: 200px;
    height: auto;
    max-height: 390px;
    object-fit: cover;
  }
}

/* If the screen size is between above and below, sizing is regular above */

/* If the screen size is 1192px wide or greater */
@media screen and (min-width: 1200px) {
  .card > img {
    width: 100%;
    height: auto;
    min-width: 450px;
    max-height: 480px;
    object-fit: cover;
  }

  .nft-card > img {
    width: 100%;
    height: auto;
    min-width: 390px;
    max-height: 480px;
    object-fit: cover;
  }
}

/* If the screen size is 1397px wide or greater */
@media screen and (min-width: 1400px) {
  .card > img {
    width: 100%;
    height: auto;
    min-width: 544px;
    max-height: 570px;
    object-fit: cover;
  }

  .nft-card > img {
    width: 100%;
    height: auto;
    min-width: 480px;
    max-height: 570px;
    object-fit: cover;
  }
}

.card-text {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: .8;
  cursor: pointer;
}

.nft-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: .8;
  cursor: pointer;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product:hover{
  background: rgb(187, 184, 184);
  text-decoration: none;
  color: white;
}


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-decoration: none;
}


// .box {
//   width: 200px;
//   height: 300px;
//   position: relative;
//   border: 1px solid #bbb;
//   background: #eee;
//   float: left;
//   margin: 20px;
// }

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 93px;
  height: 93px;
  text-align: right;
}
.ribbon span {
  font-size: 0.65rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  transform: rotate(45deg);
  width: 125px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 17px; // change this, if no border
  right: -29px; // change this, if no border
}

.ribbon span::before {
   content: '';
   position: absolute;
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute;
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}

.red span {
  background: linear-gradient(#f70505 0%, #8f0808 100%);
}
.red span::before {
  border-left-color: #8f0808;
  border-top-color: #8f0808;
}
.red span::after {
  border-right-color: #8f0808;
  border-top-color: #8f0808;
}

.blue span {
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.blue span::before {
  border-left-color: #1e5799;
  border-top-color: #1e5799;
}
.blue span::after {
  border-right-color: #1e5799;
  border-top-color: #1e5799;
}

.foo {
  clear: both;
}

.bar {
  content: "";
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.baz {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 100px;
  left: 1000px;
}


.prod-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 60rem;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.prod-price {
  color: grey;
  font-size: 22px;
}

.prod-card img {
  width: 100%;
  object-fit: cover;
}

.prod-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  // background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.prod-card button:hover {
  opacity: 0.7;
}
