


@media screen and (min-width: 601px) {
  .nobullet {
    font-size: 2vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .nobullet {
    font-size: 20px;
  }
}

.tree {
  border-radius: 25px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
// #align{
//   text-align:center;
//   max-width:700px;
//   margin:auto;

// }

// .linktree {
//   background-color:blue;
//   font-size:16px;
//   font-weight: bold;
//   color:#fffefe;
//   padding:15px;
//   margin-top:10px;
//   border:2px solid transparent;
//   border-radius: 5px;
//   cursor:pointer;
// }

// .linktree:hover {
//   background-color:#fffefe;
//   color:#43dd9d;
//   border:2px solid #43dd9d;
//   border-radius: 5px;
// }


// .wrap {
//   width: 100%;
//   max-width: 320px;
//   margin: 0 auto;
// }
// .profile {
//   text-align: center;
//   color: #FFF;
//   margin-bottom: 20px;
// }

// .custom-btn {
// width: 100%;
// height: 45px;
// color: #fff;
// border-radius: 5px;
// padding: 10px 25px;
// font-family: 'Josefin Sans';
// font-weight: 500;
// background: transparent;
// cursor: pointer;
// transition: all 0.3s ease;
// position: relative;
// display: block;
// box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
// 7px 7px 20px 0px rgba(0,0,0,.1),
// 4px 4px 5px 0px rgba(0,0,0,.1);
// outline: none;
// }



// .btn-8 {
// background-color: #f0ecfc;
// background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
// line-height: 42px;
// padding: 0;
// margin: 14px 0;
// border: none;
// }
// .btn-8 span {
// position: relative;
// display: block;
// width: 100%;
// height: 100%;
// }
// .btn-8 span a{
// text-decoration: none;
// color: black;
// }
// .btn-8:before,
// .btn-8:after {
// position: absolute;
// content: "";
// right: 0;
// bottom: 0;
// background: #c797eb;
// /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
//         -4px -4px 6px 0 rgba(116, 125, 136, .2),
// inset -4px -4px 6px 0 rgba(255,255,255,.5),
// inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
// transition: all 0.3s ease;
// }
// .btn-8:before{
// height: 0%;
// width: 2px;
// }
// .btn-8:after {
// width: 0%;
// height: 2px;
// }
// .btn-8:hover:before {
// height: 100%;
// }
// .btn-8:hover:after {
// width: 100%;
// }
// .btn-8:hover{
// background: transparent;
// }
// .btn-8 span:hover{
// color: #c797eb;
// }
// .btn-8 span:before,
// .btn-8 span:after {
// position: absolute;
// content: "";
// left: 0;
// top: 0;
// background: #c797eb;
// /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
//         -4px -4px 6px 0 rgba(116, 125, 136, .2),
// inset -4px -4px 6px 0 rgba(255,255,255,.5),
// inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
// transition: all 0.3s ease;
// }
// .btn-8 span:before {
// width: 2px;
// height: 0%;
// }
// .btn-8 span:after {
// height: 2px;
// width: 0%;
// }
// .btn-8 span:hover:before {
// height: 100%;
// }
// .btn-8 span:hover:after {
// width: 100%;
// }
