.pagination > span {
  padding: 6px;
}

.pagination span.current.current {
  font-weight: bolder;
}

.pagination > span > a {
  text-decoration: none;
}

.pages-list {
  display: flex;
  justify-content: center;
}
